@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #ffffff;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  margin: 0;
  padding: 0;
}